*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bloque_color_azul{
    background-color: #446df6;
    height: 80px;
    width: 100%;
}

.texto_principal{
    width: 100%;
}

.texto_titulo{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.texto_contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.texto_datos_cliente{
    margin-top: 100px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.texto_datos_cliente h3{
    margin-bottom: 10px;
}

.texto_aclarativo{
    margin-top: 70px;
}

.texto_codigo_prueba{
    margin: auto;
}

.texto_codigo_prueba h2{
    border: 1px solid #446df6;
    padding: 10px;
    margin-top: 100px;
}

.img_final{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.img_inicio{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: left;
    padding-left: 200px;
}

.img_inicio{
    width: 25%;
}